EMAIL='Login cred'
PASSWORD='Login creds '

COUNTRY_CODE='en-ca'
SCHEDULE_ID='Can be found on the URL when you click reschedule'
# Example for canadian cities, values can be found by inspecting the option menu
FACILITIES='92-Ottawa,95-Vancouver,90-Halifax,91-Montreal,93-QubecCity,89-Calgary,94-Toronto' 


NODE_ENV='prod'

NEXT_TRY= 200 # delay before tring for all cities
NEXT_SCHEDULE_POLL= 10 # delay before performing the next check for appointment in milliseconds
MAX_NUMBER_OF_POLL= 1000 # maximum number of poll before stopping the process
NOTIFY_ON_DATE_BEFORE= 'Prefered date beofre you want the appointment'

NOTIFY_EMAILS='Email configured in mailgun'
MAILGUN_DOMAIN='Mailgun domain '
MAILGUN_API_KEY=''

